<div class='navbar-item'> search for flights from
    </div>
    <div class="select">
      <%= collection_select(:flight, :origin_id, Airport.all, :id, :symbol ) %>
    </div>
    <div class='navbar-item'> to 
    </div>
    <div class="select">
      <%= collection_select(:flight, :destination_id, Airport.all, :id, :symbol ) %>
    </div>
    <div class='navbar-item'> on 
    </div> 
    <div class="select">
      <%= collection_select(:flight, :departure, Flight.all, :departure, :date_only ) %>
    </div>

    <%= simple_form_for :search, url: root_path, method: "GET",
      html: {class: 'field' } do |f| %>
      <%# <%= f.input :origin_id, input_html: {value: ''} %> %>
      <div class='select'><%= f.input :origin_id, collection: [['LAX', 1], ['JFK', 2], ['SFO', 3]]  %></div>
      <div class='select'><%= f.input :destination_id, collection: [['LAX', 1], ['JFK', 2], ['SFO', 3]]  %></div>
      <%# <%= f.input :destination_id, input_html: {value: ''} %> %>
      <%= f.submit 'search', class: 'button' %>
    <% end %>

    <%= f.collection_select name='search[destination_id]', Airport.order(:symbol), :id, :symbol %>

    Started GET "/?search%5Borigin_id%5D=1&search%5Bdestination_id%5D=2&commit=search" for ::1 at 2022-06-03 15:04:57 -0700
Processing by FlightsController#index as HTML
  Parameters: {"search"=>{"origin_id"=>"1", "destination_id"=>"2"}, "commit"=>"search"}
  Rendering layout layouts/application.html.erb


    Started GET "/?search%5Borigin_id%5D=1&search%5Bdestination_id%5D=2&commit=search" for ::1 at 2022-06-03 15:07:45 -0700
Processing by FlightsController#index as HTML
  Parameters: {"search"=>{"origin_id"=>"1", "destination_id"=>"2"}, "commit"=>"search"}
  Rendering layout layouts/application.html.erb